:root {
	--vt-c-white: #EDEAE6;
	--vt-c-white-soft: #f8f8f8;
	--vt-c-white-mute: #F5F3EF;
	--vt-c-white-scroll-track: #f9f9f7;
	--vt-c-white-scroll: #c6bfb4;
	--vt-c-white-scroll-hover: #a89f92;

	--vt-c-dark: #181818;
	--vt-c-dark-soft: #222222;
	--vt-c-dark-mute: #282828;
	--vt-c-dark-scroll-track: #1e1e1e;
	--vt-c-dark-scroll: #3c3c3c;
	--vt-c-dark-scroll-hover: #5a5a5a;

	--vt-c-indigo: #2c3e50;

	--vt-c-divider-light-1: rgba(60, 60, 60, 0.25);
	--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

	--vt-c-text-light-1: var(--vt-c-indigo);
	--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
	--vt-c-text-dark-1: var(--vt-c-white);
	--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}


:root {
	--font-size: 10px;

	--color-background: var(--vt-c-white);
	--color-background-soft: var(--vt-c-white-soft);
	--color-background-mute: var(--vt-c-white-mute);
	--color-scroll-track: var(--vt-c-white-scroll-track);
	--color-scroll: var(--vt-c-white-scroll);
	--color-scroll-hover: var(--vt-c-white-scroll-hover);

	--color-border: var(--vt-c-divider-light-2);
	--color-border-hover: var(--vt-c-divider-light-1);

	--color-heading: var(--vt-c-text-light-1);
	--color-text: var(--vt-c-text-light-1);

	--color-main: rgb(255, 183, 77);
	--color-secondary: rgba(255, 183, 77, 0.7);
	--color-third: rgba(255, 183, 77, 0.4);
}


.dark {
	--color-background: var(--vt-c-dark);
	--color-background-soft: var(--vt-c-dark-soft);
	--color-background-mute: var(--vt-c-dark-mute);
	--color-scroll-track: var(--vt-c-dark-scroll-track);
	--color-scroll: var(--vt-c-dark-scroll);
	--color-scroll-hover: var(--vt-c-dark-scroll-hover);
	
	--color-border: var(--vt-c-divider-dark-2);
	--color-border-hover: var(--vt-c-divider-dark-1);
	
	--color-heading: var(--vt-c-text-dark-1);
	--color-text: var(--vt-c-text-dark-2);
}



*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: var(--font-size);
	font-weight: normal;
	transition: color 0.3s, background-color 0.3s, border-color 0.3s;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	user-select: none;
	font-family: SchoolSafetyRoundedSmile, sans-serif;
	color: var(--color-text);
	text-decoration: none;
	list-style: none;
}


html,
body {
	width: 100%;
	height: 100%;
	min-width: 1224px;
	min-height: 780px;
	overflow: auto;
	color: var(--color-text);
	/* background: var(--color-background); */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #181818;
	font-family: SchoolSafetyRoundedSmile, sans-serif;
	transition: color 0.3s, background-color 0.3s;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}